<div id="message-<%= message.id %>">
  <div class="align-items-center d-flex justify-content-between mt-5">

    <% if message.user == message.chatroom.activity.user %>
      <p class="card-text"><%="Organizer"%></p>
    <% else %>
      <p class="card-text text-secondary"><%= message.user.first_name %></p>
    <% end %>

    <small class="text-secondary"><%= time_ago_in_words(message.created_at) %> ago</small>
  </div>

  <p class="card-text text-green"><%= message.content %></p>

  <div class="mb-5"></div>
</div>
