<div class="align-items-center d-flex d-md-flex justify-content-between mt-5" id="message-<%= message.id %>">
  <div class="align-items-center d-flex d-md-flex mb-2 gap-2 justify-content-start">
    <% if message.chatroom.activity.user.avatar.attached? %>
      <%= cl_image_tag message.chatroom.activity.user.avatar.key, class: "rounded-circle",
                                                                  height: "30px",
                                                                  width: "30px" %>
    <% else %>
      <%= image_tag "https://avatar.vercel.sh/rauchg.svg/", class: "rounded-circle",
                                                            height: "30px",
                                                            width: "30px" %>
    <% end %>
    <% if message.user == message.chatroom.activity.user %>
      <small>Host</small>
    <% else %>
      <small class="text-secondary">@<%= message.user.username %></small>
    <% end %>
  </div>
  <small class="fst-italic text-secondary"><%= time_ago_in_words(message.created_at) %> ago</small>
</div>
<small><%= message.content %></small>
