<div class="border-0 card mb-5 p-5 rounded-4 shadow-sm">
  <div class="bg-transparent border-0 card-header">
    <div class="align-items-center d-flex d-md-flex justify-content-between" id="message-<%= message.id %>">
      <div class="align-items-center d-flex d-md-flex">
        <div class="flex-shrink-0 me-3">
          <% if message.chatroom.activity.user.avatar.attached? %>
            <%= cl_image_tag message.chatroom.activity.user.avatar.key, class: "rounded-circle",
                                                                        height: "30px",
                                                                        width: "30px" %>
          <% else %>
            <%= image_tag "https://avatar.vercel.sh/rauchg.svg/", class: "rounded-circle",
                                                                  height: "30px",
                                                                  width: "30px" %>
          <% end %>
        </div>
        <div>
          <% if message.user == message.chatroom.activity.user %>
            <h6 class="card-title">Host</h6>
          <% else %>
            <h6 class="card-title">@<%= message.user.username %></h6>
          <% end %>
          <small class="card-text text-secondary"><%= time_ago_in_words(message.created_at) %> ago</small>
        </div>
      </div>
      <% if policy(message).destroy? %>
        <li class="dropdown list-unstyled">
          <i aria-expanded="false" aria-haspopup="true" class="fs-5 ph-bold ph-dots-three" data-bs-toggle="dropdown" id="navbarDropdown"></i>
          <ul class="border-0 dropdown-menu mt-3 p-3 rounded-4 shadow-sm">
            <li><%= link_to "Delete", chatroom_path(message), class: "dropdown-item",
                                                            data: { turbo_confirm: "Would you like to continue?", turbo_method: :delete } %></li>
          </ul>
        </li>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text"><%= message.content %></p>
  </div>
</div>
