<div class="col-md-7">
  <div class="mb-5">
    <h2 class="fs-2">We invite you to come and discover with us a whole new way of sharing your sports sessions</h2>
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "g-3 row", method: :put }) do |f| %>
  <!-- <%= f.error_notification %> -->

  <div class="col-md-4">
    <%= f.input :first_name,
                as: :string,
                input_html: { autocomplete: "string", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Maximilien",
                required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :last_name,
                as: :string,
                input_html: { autocomplete: "string", class: "border-0 mb-2 shadow-sm" },
                placeholder: "LANZ",
                required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :country_code,
                as: :string,
                autofocus: true,
                input_html: { autocomplete: "tel", class: "border-0 mb-2 shadow-sm" },
                placeholder: "+41",
                required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :phone_number,
                as: :string,
                autofocus: true,
                input_html: { autocomplete: "tel", class: "border-0 mb-2 shadow-sm" },
                required: true %>
  </div>
  <div class="col-12">
    <%= f.input :email,
                autofocus: true,
                input_html: { autocomplete: "email", class: "border-0 mb-2 shadow-sm" },
                label: "E-mail address",
                required: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <small>Currently waiting confirmation for: <%= resource.unconfirmed_email %></small>
  <% end %>

  <div class="col-md-6">
    <%= f.input :password,
                input_html: { autocomplete: "new-password", class: "border-0 mb-2 shadow-sm" },
                label: "New password",
                required: false %>
  </div>
  <div class="col-md-6">
    <%= f.input :password_confirmation,
                input_html: { autocomplete: "new-password", class: "border-0 mb-2 shadow-sm" },
                label: "Confirm password",
                required: false %>
  </div>
  <div class="col-12">
    <%= f.input :address,
                as: :string,
                hint: "Automatically completed",
                input_html: { autocomplete: "address-line1", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Rue de Lausanne 64",
                required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :country,
                as: :string,
                input_html: { autocomplete: "country", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Switzerland",
                required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :city,
                as: :string,
                input_html: { autocomplete: "address-level2", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Renens",
                required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :state,
                as: :string,
                input_html: { autocomplete: "address-level1", class: "border-0 mb-2 shadow-sm" },
                label: "State / Province / Region",
                placeholder: "Vaud",
                required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :postcode,
                as: :string,
                input_html: { autocomplete: "postal-code", class: "border-0 mb-2 shadow-sm" },
                label: "Postal code",
                placeholder: "1020",
                required: true %>
  </div>
  <div class="col-12">
    <%= f.input :current_password,
                hint: "Confirm your changes",
                input_html: { autocomplete: "current-password", class: "border-0 mb-2 shadow-sm" },
                required: true %>
  </div>

  <div class="col-md-6 d-flex d-md-flex gap-4">
    <%= f.button :submit, "Update", class: "btn btn-light px-4 py-2 shadow" %>

    <%= link_to "Cancel my account", registration_path(resource_name), class: "btn btn-light px-4 py-2 shadow", data: { confirm: "Are you really sure?" }, method: :delete %>
  </div>
<% end %>
