<h2>Create your account</h2>
<%= simple_form_for(resource, as: resource_name,
                              data: {turbo: false},
                              html: {class: "g-4 mt-5 row"},
                              url: registration_path(resource_name)) do |f| %>
  <div class="col-md-4">
    <%= f.input :first_name, as: :string,
                             autofocus: true,
                             input_html: {autocomplete: "string", class: "border-0 px-4 py-3 shadow-sm"},
                             placeholder: "Maximilien",
                             required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :last_name, as: :string,
                            input_html: {autocomplete: "string", class: "border-0 px-4 py-3 shadow-sm"},
                            placeholder: "LANZ",
                            required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :country_code, as: :string,
                               input_html: {autocomplete: "tel", class: "border-0 px-4 py-3 shadow-sm"},
                               placeholder: "+41",
                               required: false %>
  </div>
  <div class="col-md-2">
    <%= f.input :phone_number, as: :string,
                               input_html: {autocomplete: "tel", class: "border-0 px-4 py-3 shadow-sm"},
                               placeholder: "76 123 45 67",
                               required: false %>
  </div>
  <div class="col-md-4">
    <%= f.input :email, as: :string,
                        input_html: {autocomplete: "email", class: "border-0 px-4 py-3 shadow-sm"},
                        label: "E-mail address",
                        placeholder: "maximilien.lanz@lewagon.com",
                        required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :username, as: :string,
                           input_html: {autocomplete: "string", class: "border-0 px-4 py-3 shadow-sm"},
                           placeholder: "maximilien.lanz",
                           required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :avatar, as: :file,
                         input_html: {autocomplete: "file", class: "border-0 px-4 py-3 shadow-sm"},
                         required: false %>
  </div>
  <div class="col-md-6">
    <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum with special characters" if @minimum_password_length),
                           input_html: {autocomplete: "new-password", class: "border-0 mb-3 px-4 py-3 shadow-sm"},
                           required: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :password_confirmation, input_html: {autocomplete: "new-password", class: "border-0 px-4 py-3 shadow-sm"},
                                        label: "Confirm password",
                                        required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :address, as: :string,
                          hint: "Automatically filled in with Mapbox",
                          input_html: {autocomplete: "address-line1", class: "border-0 mb-3 px-4 py-3 shadow-sm"},
                          placeholder: "Rue de Lausanne 64",
                          required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :country, as: :string,
                          input_html: {autocomplete: "country", class: "border-0 px-4 py-3 shadow-sm"},
                          placeholder: "Switzerland",
                          required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :city, as: :string,
                       input_html: {autocomplete: "address-level2", class: "border-0 px-4 py-3 shadow-sm"},
                       placeholder: "Renens",
                       required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :state, as: :string,
                        input_html: {autocomplete: "address-level1", class: "border-0 px-4 py-3 shadow-sm"},
                        label: "State",
                        placeholder: "Vaud",
                        required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :postcode, as: :string,
                           input_html: {autocomplete: "postal-code", class: "border-0 px-4 py-3 shadow-sm"},
                           label: "Postal code",
                           placeholder: "1020",
                           required: true %>
  </div>
  <div class="col-md-6 d-flex d-grid d-md-flex mb-5 gap-5">
    <%= f.button :submit, "Create an account", class: "btn --btn-bd-green px-5 py-3 shadow" %>
    <%= link_to "Cancel", root_path, class: "btn btn-light px-5 py-3 shadow-sm" %>
  </div>
<% end %>
