<h2>Resend unlocking instructions</h2>
<%= simple_form_for(resource, as: resource_name,
                              html: { class: "g-4 mt-5 row", method: :post },
                              url: unlock_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :unlock_token %>
  <div class="col-12">
    <%= f.input :email, autofocus: true,
                        input_html: { autocomplete: "email", class: "border-0 px-4 py-3 shadow-sm" },
                        label: "E-mail address",
                        required: true %>
  </div>
  <div class="col-12">
    <%= f.button :submit, "Resend", class: "btn --btn-bd-green px-5 py-3 shadow" %>
  </div>
<% end %>
