<h2>My bookings</h2>
<div class="align-items-center d-flex d-md-flex justify-content-start my-5">
  <%= search_form_for @q, data: { turbo: false },
                          html: { class: "d-flex d-md-flex", method: :get },
                          url: bookings_path do |f| %>
    <%= f.search_field :activity_name_i_cont_any, class: "border-0 form-control me-5 px-5 shadow-sm",
                                                  placeholder: "Search for a booking" %>
    <%= f.submit class: "btn btn-light px-5 py-3 shadow-sm",
                 placeholder: "Search" %>
  <% end %>
</div>
<div class="g-5 mb-5 row">
  <% @bookings.each do |booking| %>
    <div class="col-lg-6 col-md-12">
      <div class="border-0 card p-5 rounded-4 shadow-sm">
        <% if booking.activity.image.attached? %>
          <%= cl_image_tag booking.activity.image.key, class: "card-img-top img-fluid mb-5 rounded-4 shadow-sm" %>
        <% end %>
        <div class="bg-transparent border-0 card-header">
          <div class="align-items-center d-flex d-md-flex justify-content-between mb-4">
            <h5 class="card-title">
              <%= booking.activity.name %>
              <small class="text-secondary"> with <%= booking.activity.user.first_name %></small>
            </h5>
            <small class="card-text text-secondary"><%= pluralize booking.activity.reviews.size, "review" %></small>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-secondary"><%= booking.activity.description %></p>
          <div class="align-items-center d-flex d-md-flex justify-content-between mt-5">
            <%= link_to "View", activity_path(booking.activity), class: "btn --btn-bd-green px-5 py-3 shadow" %>
            <%= link_to "Cancel", booking_path(booking.id), class: "btn btn-light px-5 py-3 shadow-sm",
                                                            data: { turbo_confirm: "Would you like to continue?", turbo_method: :delete } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
