<div class="col-7">
  <div class="mb-5">
    <h2 class="fs-2">
      Log in
    </h2>
  </div>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}, html: { class: "g-4 row"}) do |f| %>
  <div class="col-12">
    <%= f.input :email,
                autofocus: true,
                input_html: { autocomplete: "email", class: "border-0 mb-2 shadow-sm" },
                label: "E-mail address",
                placeholder: "sylvain.maslard@lewagon.com",
                required: true %>
  </div>
  <div class="col-12">
    <%= f.input :password,
                input_html: { autocomplete: "current-password", class: "border-0 shadow-sm" },
                required: true %>
  </div>

  <div class="col-12">
    <%= f.input :remember_me,
                class: "form-check-input shadow-sm",
                label: "Remember me",
                as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="col-md-6 d-flex d-md-flex gap-4">
    <%= f.button :submit, "Log in", class: "btn btn-green px-4 py-2 shadow" %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-light px-4 py-2 shadow" %>
  </div>
<% end %>
