<h2>Log in</h2>
<%= simple_form_for(resource, as: resource_name,
                              data: {turbo: false},
                              html: {class: "g-4 mt-5 row"},
                              url: session_path(resource_name)) do |f| %>
  <div class="col-12">
    <%= f.input :email, autofocus: true,
                        input_html: {autocomplete: "email", class: "border-0 px-4 py-3 shadow-sm"},
                        label: "E-mail address",
                        placeholder: "sylvain.maslard@lewagon.com",
                        required: true %>
  </div>
  <div class="col-12">
    <%= f.input :password, input_html: {autocomplete: "current-password", class: "border-0 px-4 py-3 shadow-sm"},
                           required: true %>
  </div>
  <div class="col-12">
    <%= f.input :remember_me, class: "form-check-input shadow-sm",
                              label: "Remember me",
                              required: false,
                              as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="col-md-6 d-flex d-grid d-md-flex mb-5 gap-5">
    <%= f.button :submit, "Log in", class: "btn --btn-bd-green px-5 py-3 shadow" %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-light px-5 py-3 shadow-sm" %>
  </div>
<% end %>
