 <div data-controller="update-review" data-update-review-target="commentInfo" >
  <p data-update-review-target="comment" class="<%= "d-none" if review.errors.any? %>">
    <%= review.comment %>
    <%= link_to "Edit", "#", data: {action: "update-review#revealForm"} %>
    <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?"} %>
  </p>

  <%= simple_form_for review, html: { class:review.errors.any? ? "" : "d-none", data: { update_review_target: "form", action: "submit->update-review#update" } } do |f| %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
