<div class="col-md-7">
  <div class="mb-5">
    <h2 class="fs-2">We invite you to come and discover with us a whole new way of sharing your sports sessions</h2>
  </div>
</div>

<%= simple_form_for @activity, html: { class: "g-3 row"} do |f| %>
  <div class="col-md-6">
    <%= f.input :name,
                as: :string,
                input_html: { autocomplete: "string", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Running",
                required: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :category,
                as: :string,
                collection: Activity.categories.keys,
                input_html: { autocomplete: "integer", class: "border-0 mb-2 shadow-sm" },
                required: true %>
  </div>
  <div class="col-12">
    <!-- <div data-controller="character-counter"> -->
      <%= f.input :description,
                  as: :string,
                  input_html: { autocomplete: "string", class: "border-0 shadow-sm" },
                  # input_html: { autocomplete: "description", class: "border-0 shadow-sm", data: { character_counter_target: "input" } },
                  required: true %>
      <!-- <small class="form-text">Description is currently <small data-character-counter-target="counter"></small> characters long</small> -->
    <!-- </div> -->
  </div>
  <div class="col-md-6">
    <%= f.input :start_date,
                as: :string,
                input_html: { autocomplete: "datetime", class: "border-0 mb-2 shadow-sm" },
                label: "Start date and time",
                # input_html: { class: "border-0 mb-2 shadow-sm", data: { controller: "flatpickr" } },
                required: true %>
  </div>
  <div class="col-md-6">
    <%= f.input :end_date,
                as: :string,
                input_html: { autocomplete: "datetime", class: "border-0 mb-2 shadow-sm" },
                label: "End date and time",
                # input_html: { class: "border-0 mb-2 shadow-sm", data: { controller: "flatpickr" } },
                required: true %>
  </div>
  <div class="col-12">
    <%= f.input :address,
                as: :string,
                hint: "Automatically completed",
                input_html: { autocomplete: "address-line1", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Rue de Lausanne 64",
                required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :country,
                as: :string,
                input_html: { autocomplete: "country", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Switzerland",
                required: true %>
  </div>
  <div class="col-md-4">
    <%= f.input :city,
                as: :string,
                input_html: { autocomplete: "address-level2", class: "border-0 mb-2 shadow-sm" },
                placeholder: "Renens",
                required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :state,
                as: :string,
                input_html: { autocomplete: "address-level1", class: "border-0 mb-2 shadow-sm" },
                label: "State / Province / Region",
                placeholder: "Canton de Vaud",
                required: true %>
  </div>
  <div class="col-md-2">
    <%= f.input :postcode,
                as: :string,
                input_html: { autocomplete: "postal-code", class: "border-0 mb-2 shadow-sm" },
                label: "Postal code",
                placeholder: "1020",
                required: true %>
  </div>

  <div class="col-md-6 d-flex d-md-flex gap-4 mb-5">
    <%= f.button :submit, "Create an activity", class: "btn btn-green px-4 py-2 shadow" %>

    <%= link_to "Cancel", me_activities_path, class: "btn btn-light px-4 py-2 shadow" %>
  </div>
<% end %>
