<div class="col-md-8 mb-5">
  <h2 class="fs-2">
    Discover
  </h2>
</div>

<div class="align-items-center d-flex justify-content-start mb-5">
  <%= search_form_for @q, url: activities_path,
                          html: { class: "d-flex", method: :get },
                          data: { turbo: false } do |f| %>
    <%= f.search_field :description_or_name_or_address_or_reviews_comment_i_cont_any,
                       class: "border-0 form-control me-4 px-5 shadow-sm",
                       placeholder: "Search for a keyword" %>
    <%= f.submit class: "btn btn-light px-5 py-3 shadow-sm",
                 placeholder: "Search" %>
  <% end %>
</div>

<div class="mb-5 g-5 row">
  <% @activities.each do |activity| %>
    <div class="col-md-6">
      <div class="border-0 card p-5 rounded-4 shadow-sm">
        <% if activity.image.attached? %>
          <%= cl_image_tag activity.image.key, class: "card-img-top mb-5 rounded-4 shadow-sm" %>
        <% else %>
          <% false %>
        <% end %>
        <div class="card-body">
          <div class="align-items-center d-flex justify-content-between mb-5">
            <h5 class="card-title fs-5">
              <%= activity.name %>
              <small class="text-secondary">
                with <%= activity.user.first_name %>
              </small>
            </h5>
            <small class="form-text text-secondary">
              <%= pluralize activity.reviews.size, "review" %>
            </small>
          </div>
          <div class="mb-5">
            <p class="card-text text-secondary">
              <%= activity.description %>
            </p>
          </div>
          <%= link_to "View", activity_path(activity.id), class: "btn btn-bd-green px-5 py-3 shadow" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
