<%= search_form_for @q, url: activities_path,
                        html: { method: :get },
                        data: { turbo: false } do |f| %>

  <%= f.search_field :description_or_name_or_reviews_comment_i_cont_any %>

  <%= f.submit %>
<% end %>

<%= @activities.count %>

<% @activities.each do |activity| %>
<div>

  <% if activity.user == current_user %>
    <%= link_to activity.description, activity_path(activity.id) %>
    <% if policy(activity).destroy? %>
      <%= link_to activity_path(activity.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{activity.description}?"} do %>
        Delete
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>

<% if policy(Activity).create? %>
  <%= link_to new_activity_path do %>
    Add a new activity
  <% end %>
<% end %>
