<div class="col-md-7">
  <div class="mb-5">
    <%= cl_image_tag "bjaor4dzyup3gb29grpz", alt: "San Francisco", width: 400, height: 300, crop: :fill  %>
    <h2 class="fs-2">Let yourself be guided and enjoy discovering all the activities in which you could participate</h2>
  </div>
</div>
<div class="align-items-center d-flex justify-content-start mb-5">
  <%= search_form_for @q, url: activities_path,
                          html: { class: "d-flex", method: :get },
                          data: { turbo: false } do |f| %>
    <%= f.search_field :description_or_name_or_reviews_comment_i_cont_any,
                       class: "border-0 form-control me-3 shadow-sm",
                       placeholder: "Search for a keyword" %>
    <%= f.submit class: "btn btn-light px-4 py-2 shadow",
                 placeholder: "Search" %>
  <% end %>
</div>
<div class="g-5 row">
  <% @activities.each do |activity| %>
    <div class="col-md-6">
      <div class="border-0 card p-4 rounded-4 shadow-sm">
        <!-- <img src="https://admin.itsnicethat.com/images/6zm_wjypsiSE8tSUFVV2iPyl8_Q=/234779/format-webp%7Cwidth-2880/INT_SEXINDESIGN_INARISIROLA_HEADER_02.png" class="card-img-top img-fluid mb-4 rounded-4 shadow-sm" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><%= activity.name %></h5>
          <h6 class="card-subtitle mb-3 text-secondary"><%= activity.city %>, <%= activity.country %></h6>
          <p class="card-text mb-5 text-secondary"><%= activity.description %></p>
          <div class="align-items-center d-flex justify-content-between">
            <%= link_to "View", activity_path(activity.id), class: "btn btn-green card-link px-4 py-2 shadow" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="mb-5"></div>
