<%= search_form_for @q, url: search_activities_path,
                        html: { method: :post },
                        data: { turbo: false } do |f| %>

  <%= f.search_field :description_or_name_or_reviews_comment_i_cont_any %>

  <%= f.submit %>
<% end %>

<div class="container mt-5">
  <h1>My Activities</h1>

  <ul id="activities">
    <% @activities.each do |activity| %>
      <li>
        <% if activity.user == current_user %>
          <%= link_to activity.description, activity_path(activity.id) %>
          <% if policy(@activity).destroy? %>
          <%= link_to activity_path(activity.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{activity.description}?"} do %>
          <i class="fa-regular fa-trash-can"></i>
          <% end %>
        <% end %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <hr>

  <% if policy(Activity).create? %>
    <%= link_to new_activity_path do %>
    <i class="fa-solid fa-plus"></i> Add a new activity
    <% end %>
  <% end %>
</div>
