<h2>My activities</h2>
<div class="align-items-center d-flex d-md-flex justify-content-between my-5">
  <%= search_form_for @q, data: { turbo: false },
                          html: { class: "d-flex d-md-flex", method: :get },
                          url: me_activities_path do |f| %>
    <%= f.search_field :description_or_name_or_address_or_reviews_comment_i_cont_any, class: "border-0 form-control me-5 px-5 shadow-sm",
                                                                                      placeholder: "Search for an activity" %>
    <%= f.submit class: "btn btn-light px-5 py-3 shadow-sm",
                 placeholder: "Search" %>
  <% end %>
  <% if policy(Activity).create? %>
    <%= link_to "Create", new_activity_path, class: "btn --btn-bd-green px-5 py-3 shadow" %>
  <% end %>
</div>
<div class="g-5 mb-5 row">
  <% @activities.each do |activity| %>
    <div class="col-lg-6 col-md-12">
      <div class="border-0 card p-5 rounded-4 shadow-sm">
        <% if activity.image.attached? %>
          <%= cl_image_tag activity.image.key, class: "card-img-top img-fluid mb-5 rounded-4 shadow-sm" %>
        <% end %>
        <% if activity.user == current_user %>
          <div class="bg-transparent border-0 card-header">
            <div class="align-items-center d-flex d-md-flex justify-content-between mb-4">
              <h5 class="card-title">
                <%= activity.name %>
                <small class="text-secondary"> with you</small>
              </h5>
              <small class="card-text text-secondary"><%= pluralize activity.reviews.size, "review" %></small>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text text-secondary"><%= activity.description %></p>
            <div class="align-items-center d-flex d-md-flex justify-content-between mt-5">
              <%= link_to "View", activity_path(activity.id), class: "btn --btn-bd-green px-5 py-3 shadow" %>
              <% if policy(activity).destroy? %>
                <%= link_to "Delete", activity_path(activity.id), class: "btn btn-light px-5 py-3 shadow-sm",
                                                                  data: { turbo_confirm: "Would you like to continue?", turbo_method: :delete } %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
