<div class="align-items-center d-flex d-md-flex justify-content-between mb-5">
  <h2>
    <%= @activity.name %>
    <small class="text-secondary"> with <%= @activity.user.first_name %></small>
  </h2>
  <small class="text-secondary"><%= pluralize @activity.bookings.size, "booking" %></small>
</div>
<div class="align-items-center d-flex d-md-flex justify-content-between my-5">
  <%= link_to "Back", activities_path, class: "btn btn-light px-5 py-3 shadow-sm" %>
  <div class="d-grid d-flex d-md-flex">
    <% if policy(@activity).edit? %>
      <%= link_to "Update", edit_activity_path(@activity.id), class: "btn --btn-bd-green px-5 py-3 shadow" %>
    <% else %>
      <% if policy(@booking).create? %>
        <%= simple_form_for [@activity, @booking] do |f| %>
          <%= f.button :submit, "Book now", class: "btn --btn-bd-green px-5 py-3 shadow" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="g-5 row">
  <div class="col-md-6">
    <h5>About this activity</h5>
    <div class="border-0 card my-5 p-5 rounded-4 shadow-sm">
      <% if @activity.image.attached? %>
        <%= cl_image_tag @activity.image.key, class: "card-img-top img-fluid mb-5 rounded-4 shadow-sm" %>
      <% end %>
      <div class="bg-transparent border-0 card-header">
        <div class="align-items-center d-flex d-md-flex justify-content-between mb-4">
          <h5 class="card-title"><%= @activity.name %></h5>
          <small class="card-text text-secondary"><%= @activity.start_date %></small>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text text-secondary"><%= @activity.description %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="align-items-center d-flex d-md-flex justify-content-between">
      <h5>Where you will be</h5>
      <small class="text-secondary"><%= @activity.address %></small>
    </div>
    <%= render "activities/mapbox" %>
  </div>
  <% if @activity.reviews.blank? %>
    <div class="col-md-6">
      <h5>Be the first to leave your review</h5>
      <%= render "reviews/form", activity: @activity, review: @review %>
    </div>
    <div class="col-md-6">
      <div class="align-items-center d-flex d-md-flex justify-content-between">
        <h5>All reviews left</h5>
        <small class="text-secondary"><%= pluralize @activity.reviews.size, "review" %></small>
      </div>
    </div>
  <% else %>
    <div class="col-md-6">
      <h5>Leave your review</h5>
      <%= render "reviews/form", activity: @activity, review: @review %>
    </div>
    <div class="col-md-6">
      <div class="align-items-center d-flex d-md-flex justify-content-between mb-5">
        <h5>All reviews left</h5>
        <small class="text-secondary"><%= pluralize @activity.reviews.size, "review" %></small>
      </div>
      <% @activity.reviews.each do |review| %>
        <%= render "reviews/feed", review: review %>
      <% end %>
    </div>
  <% end %>
  <div class="col-md-6">
    <h5>Discuss with others</h5>
    <%= render "chatrooms/form", activity: @activity, chatroom: @activity.chatroom, message: @message %>
  </div>
  <div class="col-md-6">
    <div class="align-items-center d-flex d-md-flex justify-content-between mb-5">
      <h5>All messages sent</h5>
      <small class="text-secondary"><%= pluralize @activity.chatroom.messages.size, "message" %></small>
    </div>
    <div data-chatroom-subscription-chatroom-id-value="<%= @activity.chatroom.id %>" data-controller="character-counter chatroom-subscription">
      <div data-chatroom-subscription-target="messages">
        <% @activity.chatroom.messages.each do |message| %>
          <%= render "messages/feed", message: message %>
        <% end %>
      </div>
    </div>
  </div>
</div>
