

<div class="container text-center">


    <tr>
      <h1> Activity details </h1> <br>

      <h2>* Activity name </h2>
        <h3><%= @activity.inspect %></h3> <br>

        <h2>-Description </h2>
        <h3><%= @activity.description %></h3> <br>

        <h2>-Address </h2>
        <h3><%= @activity.address %></h3> <br>

        <h2>-Start date </h2>
        <h3><%= @activity.start_date %></h3> <br>

        <h2>-Start end  </h2>
        <h3><%= @activity.end_date %></h3> <br>

    </tr>
    <%= render 'reviews' %>
</div>
