<div class="container mt-5">
  <div>
  </div>

  <%= render "bookings/form", activity: @activity, booking: @booking %>
  <%= render "reviews/form", activity: @activity, review: @review %>
  <%= render "bookings/form", activity: @activity, booking: @booking %>
</div>

  <% if policy(@activity).edit? %>
    <% end %>


<%= @activity.description %>
<%= pluralize @activity.reviews.size, "review" %>
    <%= link_to edit_activity_path(@activity.id) do %>
      Edit
    <% end %>

<%= link_to activities_path do %>
  Back
<% end %>
