<div class="align-items-center d-flex justify-content-between mb-5">
  <div class="d-grid d-md-flex">
    <%= link_to "Back", activities_path, class: "btn btn-light px-4 py-2 shadow" %>
  </div>
  <% if policy(@activity).edit? %>
    <%= link_to "Update", edit_activity_path(@activity.id), class: "btn btn-light px-4 py-2 shadow" %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="border-0 card mb-5 p-4 rounded-4 shadow-sm">
      <%= cl_image_tag @activity.image.key.to_s, class: "card-img-top img-fluid mb-2 rounded-4 shadow-sm", alt: "", crop: :fill %>
      <div class="card-body">
        <div class="align-items-center d-flex justify-content-between mb-5">
          <h5 class="card-title"><%= @activity.name %></h5>
          <h6 class="card-subtitle"><%= pluralize @activity.reviews.size, "review" %></h6>
        </div>
        <h6 class="card-subtitle mb-2">Description</h6>
        <p class="card-text text-secondary"><%= @activity.description %></p>
        <% if policy(@booking).create? %>
          <div class="mt-5">
            <%= simple_form_for [@activity, @booking] do |f| %>
              <%= f.button :submit, "Book now", class: "btn btn-green card-link px-4 py-2 shadow-sm" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @activity.reviews.blank? %>
  <div class="my-5">
    <h5 class="fs-5 mb-4">Be the first user to leave a review</h5>
    <%= render "reviews/form", activity: @activity, review: @review %>
  </div>
<% else %>
  <% @activity.reviews.each do |review| %>
    <%= render "activities/activity_reviews", review: review %>
  <% end %>
<% end %>
<div class="mb-5"></div>
